@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to engineering parts application</h2>
<br />
<h5>This application is about Creating, Editing, Updateing , Deleting Oprations on Parts.</h5>
No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "Account") 



